body {
  font-family: Arial;
  text-align: center;
  background-color: #0b1f1f;
  color: #d4fff7;
}

button {
  padding: 15px 25px;
  font-size: 16px;
  background-color: #00c9a7;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #00a98a;
}

#result {
  margin-top: 20px;
  font-size: 20px;
}

#inventory {
  margin-top: 30px;
}

#inventory div {
  background: #123;
  margin: 5px auto;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
}
